.ToInput {
  position: relative;
  width: 50%;
  height: 40px;
  margin: 2%;
  margin-left: 25%;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: PermanentMarker-Regular;
  padding-left: 20px;
  letter-spacing: 3px;
  text-decoration:none;
display:inline-block;
}

input::placeholder{
  font-size: 18px;
  padding-left: 20px;
}


