.ToInput {
  position: relative;
  width: 50%;
  height: 40px;
  margin-top: 2em;
  margin-left: 24%;
  margin-bottom: 0.05em;
  font-size: 1.25em;
  font-family: PermanentMarker-Regular;
  padding-left: 1.25em;
  letter-spacing: 3px;
  text-decoration:none;
}

input::placeholder{
  font-size: 18px;
  padding-left: 20px;
}


