.add-button{
  position: relative;
  font-size: 30px;
  padding: 10px 25px;
  margin: 2% 40%; 
  border: none;
  background-image: linear-gradient(to left, #484baa 0%, #395212  51%, #3d3a0b  100%);
  transition: 0.3s;
  color: #a77f03;
  font-weight: bold;
  border-radius: 20px;
}

.add-button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  box-shadow: 0px 10px 20px #813a31;
  transform: translateY(-4px);
}

.add-button:focus {
  /* color: #813a31; */
  transform: translateY(+4px);
  box-shadow: 10px 0px 20px 0px  #813a31;
}

