body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Pacifico'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(229,170,195);
background: linear-gradient(90deg, rgba(229,170,195,1) 17%, rgba(154,82,199,1) 62%);}

@font-face {
  font-family: 'PermanentMarker-Regular';
  src: local('PermanentMarker-Regular'), url(../font/PermanentMarker-Regular.ttf) format('trueType');
}

@font-face {
  font-family: 'RubikBubbles-Regular';
  src: local('RubikBubbles-Regular'), url(../font/RubikBubbles-Regular.ttf) format('trueType');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
